<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="DelegateNewControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#/delegate">Delegate</a>
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-user-plus"></i>
                    <a href="#/delegatenew">New Delegate</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <h1>New Delegate {{startdate}}{{enddate}}</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <table>
                    <tr>
                        <td class="col-md-4">
                            <h4>Employee Name:</h4>
                        </td>
                        <td class="col-md-5">
                            <select class="form-control" 
                                    ng-options="option.EmpName for option in employeelist.availableOptions track by option.EmpID"
                                    ng-model="optiondata.selectedOption"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <h4>Duration:</h4>
                        </td>
                        <td class="col-md-5">
                            <div id="datetiempicker" class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" id="datestartdata" >
                                <span class="input-group-addon">
                                    to
                                </span>
                                <input type="text" class="form-control" id="dateenddata"  >
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <h4>Reason:</h4>
                        </td>
                        <td class="col-md-5">
                            <select ng-model="Reason" class="form-control">
                                <option value="">---Please select your reason---</option>
                                <option value="LEAVE/OFF">LEAVE/OFF</option> 
                                <option value="MEDICAL LEAVE">MEDICAL LEAVE</option>
                                <option value="OUT STATION">OUT STATION</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <hr>
            </div>
            <div class="col-md-12" style="text-align:center">
                <button type="button" class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>Cancel</button>
                <button type="button" class="btn btn-success" ng-click="submit()"><i class="fa fa-check"></i>Submit</button>
            </div>
        </div>

    </div>
</div>
<!-- END CONTENT -->