<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="DelegateNewControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#/delegate">Delegate</a>
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-user-plus"></i>
                    <a href="#/delegatenew">New Delegate</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <h1>New Delegate {{startdate}}{{enddate}}</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <table>
                    <tr>
                        <td class="col-md-4">
                            <h4>Employee Name:</h4>
                        </td>
                        <td class="col-md-5">
                            <select class="form-control" ng-disabled="setting.textbox"
                                    ng-options="option.EmpName for option in employeelist.availableOptions track by option.EmpID"
                                    ng-model="optiondata.selectedOption"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <h4>Duration:</h4>
                        </td>
                        <td class="col-md-5">
                            <div class="input-group input-large date-picker input-daterange" ng-model="startdate" data-date="" data-date-format="mm/dd/yyyy">
                                <input type="text" class="form-control" value="12-02-2012" ng-model="startdate">
                                <span class="input-group-addon">
                                    to
                                </span>
                                <input type="text" class="form-control" ng-model="enddate" >
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <h4>Reason:</h4>
                        </td>
                        <td class="col-md-5">
                            <select class="form-control" id="cb_employee">
                                <option>Hard Coded Reason</option>
                                <option>Hard Coded Reason</option>
                                <option>Hard Coded Reason</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <hr>
            </div>
            <div class="col-md-12" style="text-align:center">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>

    </div>
</div>
<!-- END CONTENT -->