<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LogicUniversityEntitie" connectionString="metadata=res://*/LogicUniversityEntitie.csdl|res://*/LogicUniversityEntitie.ssdl|res://*/LogicUniversityEntitie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=StationeryInventory_Team_05;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>