<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="inventoryListCtrl">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-book"></i>
                    <a href="#/inventoryList">Inventory</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Inventory</h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <button type="button" class="btn btn-success" ng-click="new()">
                        <span class="glyphicon glyphicon-plus"></span> New
                    </button>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1" style="top:50%">
                        <label>Category:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control"
                                ng-options="option.ItemDescription for option in CategorySelectData.availableOptions track by option.ItemCatID"
                                ng-model="CategorySelectData.selectedOption"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter Item Name">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn yellow" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12 text-right">
                    <a href="inventoryTile.html" style="text-decoration:none; color:#08AE9E;" class="fa fa-th-large fa-3x" id="tiled"></a>
                    <a href="inventoryList.html" style="text-decoration:none; color:#08AE9E;" class="fa fa-list fa-3x" id="list"></a>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-controller="inventoryListDataCtrl">
                        <div class="col-md-3" style="text-align: center" ng-repeat="item in inventoryListdata">
                            <img id="img_item1" style="height:100px; width:100px" src="assets/admin/layout/img/clips.JPG">
                            <br>
                            <label id="lbl_C002">{{item.ItemName}}</label>
                            <label>(
                                <label id="lbl_C002code">{{item.ItemID}}</label>)</label>
                            <br>
                            <button type="button" class="btn btn-success" ng-click="edit()"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-primary" ng-click="stockCard()"><i class="fa fa-folder-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->