<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="inventoryListCtrl">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-book"></i>
                    <a href="#/inventoryList">Inventory</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Inventory</h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <button type="button" class="btn btn-success" ng-click="new()">
                        <span class="glyphicon glyphicon-plus"></span> New
                    </button>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <label>Category:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control"
                                ng-options="option.ItemDescription for option in CategorySelectData.availableOptions track by option.ItemCatID"
                                ng-model="CategorySelectData.selectedOption"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter Item Name" ng-model="itemName">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn yellow" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12" style="vertical-align:middle" ng-repeat="item in inventoryListdata">
                        <div class="col-md-2">
                            <img id="img_item1" style="height:120px; width:120px" ng-src="/img/Item_300/{{item.ItemID}}.jpg">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <label id="lbl_C002">
                                    <h4><b>{{item.ItemName}}</b></h4></label>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Code: </label>
                                    <label id="lbl_code">{{item.ItemID}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label>Reorder Level: </label>
                                    <label id="lbl_reorderLvl">{{item.RoLvl}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Category: </label>
                                    <label id="lbl_code">{{item.ItemCatID}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label>Reorder Qty: </label>
                                    <label id="lbl_reorderLvl">{{item.RoQty}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Price: </label>
                                    <label id="lbl_code">{{item.Price| currency}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label>Unit of Measurement: </label>
                                    <label id="lbl_reorderLvl">{{item.UOM}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <button type="button" class="btn btn-success" ng-click="edit(item)" style="width:80%">
                                    <i class="fa fa-pencil"></i> Edit
                                </button>
                            </div>
                            <br />
                            <div class="row">
                                <button type="button" class="btn red" ng-click="delete(item)" style="width:80%">
                                    <i class="fa fa-trash-o"></i> Delete
                                </button>
                            </div>
                            <br />
                            <div class="row">
                                <button type="button" class="btn btn-primary" ng-click="stockCard(item)" style="width:80%">
                                    <i class="fa fa-folder-o"></i> Stock Card
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>



    </div>
</div>
<!-- END CONTENT -->