<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="InventoryNewControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-book"></i>
                    <a href="#/inventoryList">Inventory</a>
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-plus-square"></i>
                    <a href="#/inventoryNew/0">Add</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <br>
                        <h1>{{Title}}</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="col-md-3">
                                        <h4>Item Description : </h4></td>
                                    <td class="col-md-4">
                                        <input id="tb_itemDesc" type="text" class="form-control" ng-model="ItemDesc">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <h4>Code : </h4></td>
                                    <td class="col-md-4">
                                        <input id="tb_itemID" type="text" class="form-control" ng-model="ItemID">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <h4>Category : </h4></td>
                                    <td class="col-md-4">
                                        <select class="form-control"
                                                ng-options="option.ItemDescription for option in CategorySelectData.availableOptions track by option.ItemCatID"
                                                ng-model="CategorySelectData.selectedOption"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <h4>Reorder Level : </h4></td>
                                    <td class="col-md-4">
                                        <input type="number" class="form-control" id="spinner" min=1 ng-model="RoLvl">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <h4>Reorder Qty : </h4></td>
                                    <td class="col-md-4">
                                        <input type="number" class="form-control" id="spinner" min=1 ng-model="RoQty">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <h4>Unit of Measurement : </h4></td>
                                    <td class="col-md-4">
                                        <input type="text" class="form-control" id="spinner" min=1 ng-model="UOM">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="col-md-2">
                                        <h4>Supplier 1 : </h4></td>
                                    <td class="col-md-3">
                                        <input id="tb_supplier1" type="text" class="form-control" readonly ng-model="supplier1">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <h4>Price : </h4></td>
                                    <td class="col-md-3">
                                        <input id="tb_price1" type="text" class="form-control" ng-model="supplier1Price">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <h4>Supplier 2 : </h4></td>
                                    <td class="col-md-3">
                                        <input id="tb_supplier2" type="text" class="form-control" readonly ng-model="supplier2">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <h4>Price : </h4></td>
                                    <td class="col-md-3">
                                        <input id="tb_price2" type="text" class="form-control" ng-model="supplier2Price">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <h4>Supplier 3 : </h4></td>
                                    <td class="col-md-3">
                                        <input id="tb_supplier3" type="text" class="form-control" readonly ng-model="supplier3">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <h4>Price : </h4></td>
                                    <td class="col-md-3">
                                        <input id="tb_price3" type="text" class="form-control" ng-model="supplier3Price">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END CONTENT -->