<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="PurchaseOrderControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-list-alt"></i>
                    <a href="#/purchaseOrder">Purchase Order</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Puchase Order</h1>
                </div>
                
                <div class="col-md-6 text-right">
                    <br>
                    <button type="button" class="btn btn-success">
                        <i class="fa fa-pencil-square-o"></i> Propose
                    </button>
                </div>
                <div class="col-md-12">
                    <br />
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label style="display: inline">Date Range:</label>
                    </div>
                    <div class="col-md-5">
                        <div id="datetiempicker" class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                            <input type="text" class="form-control" id="datestartdata">
                            <span class="input-group-addon">
                                to
                            </span>
                            <input type="text" class="form-control" id="dateenddata">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br />
                </div>
                <div class="col-md-12">
                    <div class="col-md-3" style="top:50%">
                        <label>Employee:</label>
                    </div>
                    <div class="col-md-2">
                        <td class="col-md-7">
                            <select class="form-control" ng-disabled="setting.textbox"
                                    ng-options="option.EmpName for option in employeeselectdata.availableOptions track by option.EmpID"
                                    ng-model="employeeselectdata.selectedOption"></select>
                        </td>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Enter PO No." ng-model="PONo">
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn yellow" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Supplier</th>
                                <th>Clerk Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="po in polist" ng-click="detail(po)">
                                <td>{{po.PoID}}</td>
                                <td>{{po.Date|datechange|date : 'dd MMM yyyy'}}</td>
                                <td>{{po.SupplierID}}</td>
                                <td>{{po.EmpName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END CONTENT -->
