<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="PurchaseOrderProposeControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-list-alt"></i>
                    <a href="#/purchaseOrder">Purchase Order</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="#/purchaseOrderPropose">Propose</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <br>
                        <h1>Propose Purchase Order</h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <br><a class="btn default" data-target="#Additem" data-toggle="modal">
                            Add item
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h4>Please supply the following items by : </h4>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                            <input type="text" class="form-control" readonly="">
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Item Code</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in listitems" ng-click="supplier(item)">
                                    <td>{{item.ItemID}}</td>
                                    <td>{{item.ItemName}}</td>
                                    <td>
                                        <input type="number" class="form-control" ng-disabled="true"ng-model="item.supplier1Qty+item.supplier2Qty+item.supplier3Qty">
                                    </td>
                                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="col-md-12 text-center">
                    <br>
                    <button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn btn-success">Generate Purchase Orders</button>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <!-- stackable -->
    <div id="Additem" class="modal fade" tabindex="-1" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Add Item</h4>
        </div>
        <div class="modal-body">
            <div>
                <h6>Inventory List</h6>
            </div>
            <div>
                <input class="form-control" type="text" style="float:left;width:70%" ng-model="additem.ItemName">
                <button type="button" style="float:left" class="btn btn-default" ng-click="search()">Search</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:150px">Item No</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12" style="height:200px;overflow:auto">
                    <table class="table table-striped">
                        <tr ng-repeat="item in items" ng-click="supplier(item)">
                            <td style="width:150px">{{item.ItemID}}</td>
                            <td>{{item.ItemName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
    </div>
    <div id="ChooseSupplier" class="modal fade" tabindex="-1" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{additem.ItemName}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Supplier</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>{{additem.supplier1}}</td>
                                <td><input type="number" ng-model=additem.supplier1Qty class="form-control" min=1></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>{{additem.supplier2}}</td>
                                <td><input type="number" ng-model=additem.supplier2Qty class="form-control" min=1></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>{{additem.supplier3}}</td>
                                <td><input type="number" ng-model=additem.supplier3Qty class="form-control" min=1></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn red" ng-click="addtolist">Add to list</button>
        </div>
    </div>
</div>
<!-- END CONTENT -->
