<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="PurchaseOrderDetailControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-list-alt"></i>
                    <a href="#/purchaseOrder">Purchase Order</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="#/purchaseOrderDetail">Purchase Order Detail</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <br>
                        <h1 style="display: inline">Purchase Order # <h1 style="display: inline">{{PoData.PoID}}</h1></h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        <h5>Supplier : </h5></td>
                                    <td class="col-md-6">
                                        <label id="lbl_supplier">{{PoData.SupplierID}}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        <h5>Attn : </h5></td>
                                    <td class="col-md-8">
                                        <label id="lbl_attn">{{UserInfo.EmpID}}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        <h5>Please supply the items by : </h5></td>
                                    <td class="col-md-8">
                                        <label id="lbl_receivedBy">{{PoData.Date|datechange|date : 'dd MMM yyyy'}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Item Code</th>
                                    <th>Description</th>
                                    <th>Qty Ordered</th>
                                    <th>Qty Received</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="PoDetail in PoDetails ">
                                    <td>{{PoDetail.ItemID}}</td>
                                    <td>{{PoDetail.ItemName}}</td>
                                    <td>{{PoDetail.Qty}}</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="PoDetail.ActualQty" ng-disabled="ActualQty">
                                    </td>
                                    <td>{{PoDetail.Price}}</td>
                                    <td>{{PoDetail.Qty*PoDetail.Price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="col-md-12 text-center">
                    <br>
                    <button type="button" ng-click="back()" class="btn default"><i class="fa fa-arrow-left"></i> Back</button>
                    <button type="button" ng-if="Restockbtn" ng-click="Restock()" class="btn btn-success">Restock</button>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END CONTENT -->