<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="RetUpdateActController">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-cart-arrow-down"></i>
                    <a href="#/retrieval">Retrieval</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="#/retrievalUpdateActual/{{retid}}">Update</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <br>
                        <h1>Retrieval Update</h1>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="col-md-4">
                                            <h5>Retrieval No. : </h5></td>
                                        <td class="col-md-8">
                                            <label>{{RetrievalData.RetID}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">
                                            <h5>Date : </h5></td>
                                        <td class="col-md-8">
                                            <label>{{RetrievalData.Date|datechange|date : 'dd MMM yyyy'}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">
                                            <h5>Requisition Forms : </h5></td>
                                        <td class="col-md-8">
                                            <label><span ng-repeat="req in RequisitionData">{{req.ReqID}}  </span></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Bin</th>
                                        <th>Item Code</th>
                                        <th>Item Name</th>
                                        <th>Requested Qty</th>
                                        <th>Actual Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="RetrievalDetail in RetrievalDetails">
                                        <td>{{RetrievalDetail.Bin}}</td>
                                        <td>{{RetrievalDetail.ItemID}}</td>
                                        <td>{{RetrievalDetail.ItemName}}</td>
                                        <td>{{RetrievalDetail.TotalQty}}</td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="RetrievalDetail.ActualQty">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <br>
                        <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="save(RetrievalDetail)">Save</button>
                        <button type="button" class="btn btn-success" ng-click="submit(RetrievalDetail)">Submit</button>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END CONTENT -->