<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="RetrievalAllocationControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-cart-arrow-down"></i>
                    <a href="#/retrieval">Retrieval</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="#/retrievalAllocation/{{retid}}">Allocation</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <br>
                        <h1>Retrieval Allocation</h1>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="col-md-4">
                                            <h5>Retrieval No. : </h5></td>
                                        <td class="col-md-8">
                                            <label>{{RetrievalData.RetID}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">
                                            <h5>Date : </h5></td>
                                        <td class="col-md-8">
                                            <label>{{RetrievalData.Date|datechange|date : 'dd MMM yyyy'}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">
                                            <h5>Requisition Forms : </h5></td>
                                        <td class="col-md-8">
                                            <label><span ng-repeat="req in RequisitionData">{{req.ReqID}}  </span></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row portlet light" ng-repeat="Rd in RetrievalDetail" >
                        <div class="col-md-12" >
                            <div class="col-md-5">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Bin</th>
                                            <th>Item Code</th>
                                            <th>Item Name</th>
                                            <th>Requested Qty</th>
                                            <th>Actual Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{Rd.Bin}}</td>
                                            <td>{{Rd.ItemID}}</td>
                                            <td>{{Rd.ItemName}}</td>
                                            <td>{{Rd.TotalQty}}</td>
                                            <td>{{Rd.ActualQty}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-5">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Req No</th>
                                            <th>Dept</th>
                                            <th>Priority</th>
                                            <th>Requested</th>
                                            <th>Actual</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Ra in ReqAllocation" ng-if="Ra.ItemID==Rd.ItemID">
                                            <td >{{Ra.ReqID}}</td>
                                            <td>{{Ra.Dept}}</td>
                                            <td>{{Ra.Priority}}</td>
                                            <td>{{Ra.RequestQty}}</td>
                                            <td>
                                                <input type="number" class="form-control" ng-model="Ra.IssueQty" min="0">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <br>
                        <button type="button" class="btn btn-success" ng-click="confirm()"><i class="fa fa-check"></i> Confirm</button>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END CONTENT -->