<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="catalogListCtrl">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-book"></i>
                    <a href="catalogList.html">Catalog</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Catalog</h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-shopping-cart"></span> View Request Cart
                    </button>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <label>Category:</label>
                    </div>
                    <div class="col-md-3">

                        <select class="form-control" value="{{filterCategory}}">
                            <option value="1">Clip</option>
                            <option value="2">Envelope</option>
                            <option value="3">Eraser</option>
                            <option value="4">Exercise</option>
                            <option value="5">File</option>
                            <option value="6">Pen</option>
                            <option value="7">Puncher</option>
                            <option value="8">Pad</option>
                            <option value="9">Paper</option>
                            <option value="10">Ruler</option>
                            <option value="11">Scissors</option>
                            <option value="12">Tape</option>
                            <option value="13">Sharpener</option>
                            <option value="14">Shorthand</option>
                            <option value="15">Stapler</option>
                            <option value="16">Tacks</option>
                            <option value="17">Tparency</option>
                            <option value="18">Tray</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter Item Name">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn yellow" ng-click="test()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12 text-right">
                    <a href="#/catalogTile" style="text-decoration:none; color:#08AE9E;" class="fa fa-th-large fa-3x" id="tiled"></a>
                    <a href="#/catalogList" style="text-decoration:none; color:#08AE9E;" class="fa fa-list fa-3x" id="list"></a>
                    <br>
                    <br>
                </div>
                <div class="row" ng-controller="catalogListDataCtrl">
                    <div class="col-md-12" style="vertical-align:middle" ng-repeat="item in catalogListdata">
                        <div class="col-md-2">
                            <img style="height:120px; width:120px" src="/img/Item_120/{{item.ItemID}}.jpg">
                        </div>
                        <div class="col-md-5">
                            <label id={{Item.ItemID}}>
                                <h4><b>{{Item.ItemName}}</b></h4></label>
                            <br>
                            <label>Unit of Measurement: </label>
                            <label id="lbl_UOM">{{Item.UOM}}</label>
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" min=1 value="{{qty}}">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-cart-plus"></i> Add To Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->