<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="catalogListCtrl">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-book"></i>
                    <a href="catalogList.html">Catalog</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Catalog</h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <button type="button" class="btn btn-success"  ng-click="viewCart()">
                        <span class="glyphicon glyphicon-shopping-cart"></span> View Request Cart
                    </button>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <label>Category:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control"
                                ng-options="option.ItemDescription for option in CategorySelectData.availableOptions track by option.ItemCatID"
                                ng-model="CategorySelectData.selectedOption"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter Item Name" ng-model="categoryname">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn yellow" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12 text-right">
                    <a href="#/catalogTile" style="text-decoration:none; color:#08AE9E;" class="fa fa-th-large fa-3x" id="tiled"></a>
                    <a href="#/catalogList" style="text-decoration:none; color:#08AE9E;" class="fa fa-list fa-3x" id="list"></a>
                    <br>
                    <br>
                </div>
                <div class="row" ng-controller="catalogListDataCtrl">
                    <div class="col-md-12" style="vertical-align:middle" ng-repeat="item in catalogListdata">
                        <div class="col-md-2">
                            <img style="height:120px; width:120px" src="/img/Item_300/{{item.ItemID}}.jpg">
                        </div>
                        <div class="col-md-5">
                            <label>
                                <h4><b>{{item.ItemName}}</b></h4></label>
                            <br>
                            <label>Unit of Measurement: </label>
                            <label id="lbl_UOM">{{item.UOM}}</label>
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" min=1 ng-model="item.qty">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" ng-click="add(item)">
                                <i class="fa fa-cart-plus"></i> Add To Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->