
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="RequisitionControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-file-text-o"></i>
                    <a href="#/requisition">Requisition</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Requisition</h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <button type="button" class="btn btn-success" onclick="test()" ng-click="viewCart() ">
                        <span class="glyphicon glyphicon-shopping-cart"></span> View Request Cart
                    </button>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1" style="top:50%">
                        <label>Status:</label>
                    </div>
                    <div class="col-md-3" ng-controller="SelectoptionControllers">
                        <select class="form-control"
                                name="statusselect" id="statusselect"
                                ng-options="option.StatusName for option in optiondata.availableOptions track by option.StatusID"
                                ng-model="optiondata.selectedOption"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter Reuisition No." ng-model="ReuisitionNo">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn yellow" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-controller="RequisitionList">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Requisition in Requisitions"  ng-click="requisitiondetail(Requisition)">
                                    <td>{{Requisition.ReqID}}</td>
                                    <td>{{Requisition.Date|datechange|date : 'dd MMM yyyy'}}</td>
                                    <td>{{Requisition.StatusID|statuschange}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->

