<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="RequestCartControllers">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-shopping-cart"></i>
                    <a href="#/requestCart">Request Cart</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Request Cart</h1>
                </div>
                <div class="col-md-6" style="text-align:right">
                    <label for="checkbox1">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        Priority
                    </label>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover" ng-controller="RequestCartListCtrl">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Unit of Measurement</th>
                                    <th>Requested</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="RequestCart in RequestCarts">
                                    <td>{{RequestCart.ItemName}}</td>
                                    <td>{{RequestCart.UOM}}</td>
                                    <td>
                                        <div>
                                            <input type="number" ng-model=RequestCart.Qty class="form-control" id="spinner" min=1>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn red" ng-click="delect(RequestCart)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <hr />
                            <label>Remarks : </label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <br>
                    <button type="button" class="btn default" ng-click="back()">Back</button>
                    <button type="button" class="btn green" ng-click="submit()"><i class="fa fa-check"></i> Submit</button>
                    <hr>
                </div>

            </div>
        </div>



    </div>
</div>
<!-- END CONTENT -->