<div class="page-content-wrapper" ng-controller="analyticsNew">
    <div class="page-content">
        <div class="col-md-12">
            <h1>Generate New</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12">
            <h3>Report Details</h3>
        </div>
        <div class="col-md-12">
            <table>
                <tr>
                    <td class="col-md-4">
                        <h4>Title :</h4>
                    </td>
                    <td class="col-md-8">
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <h4>Type :</h4>
                    </td>
                    <td class="col-md-8">
                        <select class="form-control" ng-model="Reporttype.selectedOption" ng-change="typechange()"
                                ng-options="option.Type for option in Reporttype.availableOptions track by option.id"></select>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <h4>Date Range :</h4>
                    </td>
                    <td class="col-md-8">
                        <div id="datetiempicker" class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                            <input type="text" class="form-control" id="datestartdata">
                            <span class="input-group-addon">
                                to
                            </span>
                            <input type="text" class="form-control" id="dateenddata">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <h4>Filter :</h4>
                    </td>
                    <td class="col-md-8">
                        <label class="radio-inline" ng-if="setting.Departmentradio">
                            <input type="radio" name="optradio">Department
                        </label>
                        <label class="radio-inline" ng-if="setting.Categoryradio">
                            <input type="radio" name="optradio">Item Category
                        </label>
                        <label class="radio-inline" ng-if="setting.Supplierradio">
                            <input type="radio" name="optradio">Supplier
                        </label>
                    </td>
                </tr>
                <tr ng-if="setting.DepartmentSelect">
                    <td class="col-md-4">
                        <h4>Sub Filter :</h4>
                    </td>
                    <td class="col-md-8">
                        <select class="form-control" ng-model="DepartmentData.selectedOption" 
                                ng-options="option.DeptName for option in DepartmentData.availableOptions track by option.DeptID"></select>
                    </td>
                </tr>
                <tr ng-if="setting.ItemSelect">
                    <td class="col-md-4">
                        <h4>Sub Filter :</h4>
                    </td>
                    <td class="col-md-8">
                        <select class="form-control" ng-model="ItemData.selectedOption"
                                ng-options="option.ItemName for option in ItemData.availableOptions track by option.ItemID"></select>
                    </td>
                </tr>
                <tr ng-if="setting.SupplierSelect">
                    <td class="col-md-4">
                        <h4>Sub Filter :</h4>
                    </td>
                    <td class="col-md-8">
                        <select class="form-control" ng-model="SupplierData.selectedOption"
                                ng-options="option.SupplierName for option in SupplierData.availableOptions track by option.SupplierID"></select>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <h4>Remarks:</h4>
                    </td>
                    <td class="col-md-8">
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12" style="text-align:center">
            <hr>
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-success">Generate</button>
        </div>
    </div>
</div>