<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="RequisitionApprovalController">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-file-text-o"></i>
                    <a href="#/requisition">Requistion</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="#/requisitionApproval">Requistion Approval</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <br>
                        <h1 style="display: inline">Form # <h1 id="ReqID" style="display: inline">{{reqid}}</h1></h1>
                    </div>
                    <div class="col-md-6 text-right" style="color:#08AE9E">
                        <br>
                        <label id="status">Pending Approval</label>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        <h5>Employee Name : </h5></td>
                                    <td class="col-md-8">
                                        <label id="lbl_employeeName">{{RequisitionData.EmpName}}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        <h5>Approved by : </h5></td>
                                    <td class="col-md-8">
                                        <label id="lbl_approvedBy">{{RequisitionData.HandledByName}}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        <h5>Processed by : </h5></td>
                                    <td class="col-md-8">
                                        <label id="lbl_processedBy">{{RequisitionData.ProcessedByName}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Unit of Measurement</th>
                                    <th>Requested</th>
                                    <th>Received</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="RequisitionDetailList in RequisitionDetailLists">
                                    <td>{{RequisitionDetailList.Description}}</td>
                                    <td>{{RequisitionDetailList.Measurement}}</td>
                                    <td>{{RequisitionDetailList.RequestQty}}</td>
                                    <td>{{RequisitionDetailList.IssueQty}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="col-md-3">
                                        <h5>Priority : </h5></td>
                                    <td class="col-md-9">
                                        <label id="lbl_priority">{{RequisitionData.Priority}}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <h5>Remarks : </h5></td>
                                    <td class="col-md-9">
                                        <label id="lbl_remarks">{{RequisitionData.PRemark}}</label>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td class="col-md-3">
                                        <h5>Reason (optional): </h5></td>
                                    <td>
                                        <textarea id="tb_reason" ng-model=RequisitionData.Remark class="form-control" maxlength="225" rows="2">
                                        </textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <br>
                    <button type="button" class="btn default"><i class="fa fa-arrow-left"></i> Back</button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-times" ng-click="reject()"></i> Reject</button>
                    <button type="button" class="btn btn-success"><i class="fa fa-check" ng-click="approve()"></i> Approve</button>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END CONTENT -->