<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="SuppliernewController">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-truck"></i>
                    <a href="#/supplier">Supplier List</a>
                    <i class="fa fa-angle-right"></i> {{Title}}
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <h1>{{Title}}</h1>
                <hr>
            </div>

            <div class="col-md-12">
                <table>
                    <tr>
                        <td class="col-md-5">
                            <h5>GST Registration No. : </h5></td>
                        <td class="col-md-7">
                            <input type="text" class="form-control" ng-model="Supplier.RegNo">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <h5>Supplier Code : </h5></td>
                        <td class="col-md-7">
                            <input type="text" class="form-control" ng-model="Supplier.SupplierID">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <h5>Supplier Name : </h5></td>
                        <td class="col-md-7">
                            <input type="text" class="form-control" ng-model="Supplier.SupplierName">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <h5>Contact Name : </h5></td>
                        <td class="col-md-7">
                            <input type="text" class="form-control" ng-model="Supplier.Contact">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <h5>Phone : </h5></td>
                        <td class="col-md-7">
                            <input type="text" class="form-control" ng-model="Supplier.Phone">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <h5>Supplier fax : </h5></td>
                        <td class="col-md-7">
                            <input type="text" class="form-control" ng-model="Supplier.Fax">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-5">
                            <h5>Supplier Address : </h5></td>
                        <td class="col-md-7" id="lbl_supplieradd">
                            <textarea class="form-control" ng-model="Supplier.Address"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12" style="text-align:center">
                <hr>
                <button type="button" class="btn btn-primary" id="btn_save" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->