<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="SupplierController">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-truck"></i>
                    <a href="#/supplier">Supplier List</a>
                </li>
            </ul>
        </div>
        <div class="page-toolbar">
        </div>
        <!-- END PAGE HEADER-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Supplier List</h1>
                </div>
                <div class="col-md-6" style="text-align:right" ng-if="setting.ifedit">
                    <br>
                    <button type="button" class="btn btn-success" ng-click="NewSupplier()">
                        <span class="glyphicon glyphicon-plus"></span> New Supplier
                    </button>
                </div>
            </div>
            <div class="col-md-12" ng-if="ifedit">
                <hr>
                
                <!--<div class="col-md-6" style="text-align:right;">
                    <button type="button" class="btn btn-success" ng-if="setting.editPrioritybtn" ng-click="editPriority()"><i class="fa fa-pencil"></i> Edit Priority</button>
                    <button class="btn btn-primary" ng-if="setting.savePrioritybtn" ng-click="savePriority()">
                        <span class="glyphicon glyphicon-ok"></span> Save
                    </button>
                </div>-->
                <div class="col-md-12" ng-if="setting.editSupplierRank">
                    <div class="col-md-12">
                        <h4>Supplier Priority</h4>
                    </div>
                    <div class="col-md-3">
                        Supplier 1:
                        <select class="form-control" ng-disabled="setting.disablebox"
                                ng-options="option.SupplierName for option in supplierselect.availableOptions track by option.SupplierID"
                                ng-model="supplierselect.supplier1"></select>
                    </div>
                    <div class="col-md-3">
                        Supplier 2:
                        <select class="form-control" ng-disabled="setting.disablebox"
                                ng-options="option.SupplierName for option in supplierselect.availableOptions track by option.SupplierID"
                                ng-model="supplierselect.supplier2"></select>

                    </div>
                    <div class="col-md-3">
                        Supplier 3:
                        <select class="form-control" ng-disabled="setting.disablebox"
                                ng-options="option.SupplierName for option in supplierselect.availableOptions track by option.SupplierID"
                                ng-model="supplierselect.supplier3"></select>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" ng-if="setting.editPrioritybtn" ng-click="editPriority()"><i class="fa fa-pencil"></i> Edit Priority</button>
                        <button class="btn btn-primary" ng-if="setting.savePrioritybtn" ng-click="savePriority()">
                            <span class="glyphicon glyphicon-ok"></span> Save
                        </button>
                    </div>
            </div>
            <div class="col-md-12" id="supplierdetail">
                <hr />
                <div class="col-md-12  portlet light" ng-repeat="Supplier in Suppliers">
                    <div class="portlet-title">
                        <h4>{{Supplier.SupplierName}}</h4>
                    </div>
                    <div class="col-md-5">
                        <table>
                            <tr>
                                <td class="col-md-6">
                                    <h5>GST Registration No. : </h5>
                                </td>
                                <td class="col-md-6">{{Supplier.RegNo}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    <h5>Supplier Code : </h5>
                                </td>
                                <td class="col-md-6">{{Supplier.SupplierID}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    <h5>Contact Name : </h5>
                                </td>
                                <td class="col-md-6">{{Supplier.Contact}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <table>
                            <tr>
                                <td class="col-md-6">
                                    <h5>Phone : </h5>
                                </td>
                                <td class="col-md-6">{{Supplier.Phone}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    <h5>Supplier fax : </h5>
                                </td>
                                <td class="col-md-6">{{Supplier.Fax}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-6">
                                    <h5>Supplier Address : </h5>
                                </td>
                                <td class="col-md-6">{{Supplier.Address}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2" style="text-align:right" ng-if="setting.ifedit">
                        <button style="width:100px" type="button" class="btn red" ng-click="delete(Supplier)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                        <button style="width:100px;margin-left:0px;margin-top:20px;" type="button" class="btn btn-success"  ng-click="editDetail(Supplier)"><i class="fa fa-pencil"></i> Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
