<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StationeryInventory_Team_05Entities" connectionString="metadata=res://*/LogicUniversityEntitie.csdl|res://*/LogicUniversityEntitie.ssdl|res://*/LogicUniversityEntitie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=StationeryInventory_Team_05;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="RestService.AnalyticsAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IAnalyticsAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.AdjustvoucherAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IAdjustvoucherAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.CatalogAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.ICatalogAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.CollectionAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.ICollectionAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.DelegateAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IDelegateAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.DepartmentAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IDepartmentAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.DisbursementAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IDisbursementAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.EmployeeAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IEmployeeAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.InventoryAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IInventoryAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>

      <service name="RestService.POAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IPOAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.Upload" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IUpload"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.RequestcartAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IRequestcartAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.RequisitionAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IRequisitionAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.RetrievalAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.IRetrievalAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.SupplierAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.ISupplierAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
      <service name="RestService.NotificationAPI" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="RestService.INotificationAPI"
                  behaviorConfiguration="web"
                  ></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
